@page
@model MyApp.Namespace.ChallengesModel
@{
    ViewData["Title"] = "Fitness Challenge List";
}
<h1>Fitness Challenges List</h1><br>

<h6>Welcome to Reservation Service!</h6> <br>
<p>You are now logged in and can interact with the reservations.</p> <br>

<p>Explore and enjoy the features in this app!</p> <br>