@page
@model MyApp.Namespace.FitnessServiceModel
@{
    ViewData["Title"] = "Fitness Service";
}
<h1>Fitness Challenge Service</h1><br>
    
<h6>Welcome to Fitness Challenge Service!</h6> <br>
<p>You are now logged in and can interact with the Fitness Website.</p> <br>

<p>Look to the right top of your screen! You should see the necessary buttons. Enjoy and be healthy!</p>